<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/meta.html">
    <title>用户列表</title>
</head>
<body>
<header th:include="common/header.html"></header>
<aside th:include="common/menu.html"></aside>

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页<span class="c-gray en">&gt;</span>传感器功耗显示</nav>
    <div class="Hui-article">
        <div id="contain" style="width: auto;height: 600px">

        </div>
        <!--<h1>我的界面</h1>-->
    </div>
</section>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:src="@{/lib/echarts/3.4.0/echarts.common.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('contain'));
    myChart.showLoading();
    $.ajax({
        type : "get",
        async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "/getAnaSenData",    //请求发送到
        dataType : "json",        //返回数据形式为json
        success : function(result) {
            option = {
                xAxis: {
                    type: 'category',
                    data: result.strTime
                },
                yAxis: {
                    type: 'value'
                },
                legend: {
                    data: ['电流值', '电压值']
                },
                series: [{
                    data: result.current,
                    type: 'bar'
                },{
                    data: result.voltage,
                    type: 'bar'
                }]
            };

            myChart.setOption(option);
            myChart.hideLoading();
        },
        error : function(errorMsg) {
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    })

</script>
</body>
</html>