<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/meta.html">
    <title>用户列表</title>
</head>
<body>
<header th:include="common/header.html"></header>
<aside th:include="common/menu.html"></aside>

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页<span class="c-gray en">&gt;</span>未来天气预报</nav>
    <div class="Hui-article">
        <div id="contain" style="width: auto;height: 600px;top: 30px;">
        </div>
    </div>
</section>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:src="@{/lib/echarts/3.4.0/echarts.common.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('contain'));
    myChart.showLoading();
    $.ajax({
        type : "get",
        async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "/getAnaWeaData",    //请求发送到
        dataType : "json",        //返回数据形式为json
        success : function(result) {
            option = {
                title: {
                    text: '堆叠区域图'
                },
                tooltip : {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data:['最高气温','最低气温','风力','湿度','大气压强']
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : result.xData
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'最高气温',
                        type:'line',
                        stack: '总量',
                        areaStyle: {},
                        data:result.htmp
                    },
                    {
                        name:'最低气温',
                        type:'line',
                        stack: '总量',
                        areaStyle: {},
                        data:result.ltmp
                    },
                    {
                        name:'风力',
                        type:'line',
                        stack: '总量',
                        areaStyle: {},
                        data:result.windSc
                    },
                    {
                        name:'湿度',
                        type:'line',
                        stack: '总量',
                        areaStyle: {normal: {}},
                        data:result.hum
                    },
                    {
                        name:'大气压强',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {normal: {}},
                        data:result.pres
                    }
                ]
            };

            myChart.setOption(option);
            myChart.hideLoading();
        },
        error : function(errorMsg) {
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    })

</script>
</body>
</html>